
MainProject/.vs/MainProject/v16/Server/sqlite3/db.lock
MainProject/.vs/MainProject/v16/Server/sqlite3/storage.ide
MainProject/.vs/MainProject/v16/Server/sqlite3/storage.ide-shm
MainProject/.vs/MainProject/v16/Server/sqlite3/storage.ide-wal
MainProject/Database/bin/Debug/Database.dll
MainProject/Database/bin/Debug/Database.pdb
MainProject/Database/bin/Debug/Database.sql
MainProject/Database/bin/Debug/Database_DeployPackage.ps1
MainProject/Database/bin/Debug/Database_Package.sql
MainProject/Database/obj/Debug/Database.dll
MainProject/Database/obj/Debug/Database.pdb
MainProject/Database/obj/Debug/Database.sql
MainProject/Database/obj/Debug/Database.sqlproj.FileListAbsolute.txt
MainProject/GlobalInit/bin/Debug/netcoreapp2.2/GlobalInit.deps.json
MainProject/GlobalInit/bin/Debug/netcoreapp2.2/GlobalInit.dll
MainProject/GlobalInit/bin/Debug/netcoreapp2.2/GlobalInit.pdb
MainProject/GlobalInit/bin/Debug/netcoreapp2.2/GlobalInit.runtimeconfig.dev.json
MainProject/GlobalInit/bin/Debug/netcoreapp2.2/GlobalInit.runtimeconfig.json
MainProject/GlobalInit/bin/Debug/netcoreapp2.2/MainProject.dll
MainProject/GlobalInit/bin/Debug/netcoreapp2.2/MainProject.pdb
MainProject/GlobalInit/obj/Debug/netcoreapp2.2/GlobalInit.AssemblyInfo.cs
MainProject/GlobalInit/obj/Debug/netcoreapp2.2/GlobalInit.AssemblyInfoInputs.cache
MainProject/GlobalInit/obj/Debug/netcoreapp2.2/GlobalInit.assets.cache
MainProject/GlobalInit/obj/Debug/netcoreapp2.2/GlobalInit.csproj.CopyComplete
MainProject/GlobalInit/obj/Debug/netcoreapp2.2/GlobalInit.csproj.CoreCompileInputs.cache
MainProject/GlobalInit/obj/Debug/netcoreapp2.2/GlobalInit.csproj.FileListAbsolute.txt
MainProject/GlobalInit/obj/Debug/netcoreapp2.2/GlobalInit.csprojAssemblyReference.cache
MainProject/GlobalInit/obj/Debug/netcoreapp2.2/GlobalInit.dll
MainProject/GlobalInit/obj/Debug/netcoreapp2.2/GlobalInit.pdb
MainProject/GlobalInit/obj/GlobalInit.csproj.nuget.cache
MainProject/GlobalInit/obj/GlobalInit.csproj.nuget.dgspec.json
MainProject/GlobalInit/obj/GlobalInit.csproj.nuget.g.props
MainProject/GlobalInit/obj/GlobalInit.csproj.nuget.g.targets
MainProject/GlobalInit/obj/project.assets.json
MainProject/MainProject/bin/Debug/netcoreapp2.2/MainProject.deps.json
MainProject/MainProject/bin/Debug/netcoreapp2.2/MainProject.dll
MainProject/MainProject/bin/Debug/netcoreapp2.2/MainProject.pdb
MainProject/MainProject/bin/Debug/netcoreapp2.2/MainProject.runtimeconfig.dev.json
MainProject/MainProject/bin/Debug/netcoreapp2.2/MainProject.runtimeconfig.json
MainProject/MainProject/CodeTemplates/CSharpDbContext/DbContext.hbs
MainProject/MainProject/CodeTemplates/CSharpDbContext/Partials/DbConstructor.hbs
MainProject/MainProject/CodeTemplates/CSharpDbContext/Partials/DbImports.hbs
MainProject/MainProject/CodeTemplates/CSharpDbContext/Partials/DbSets.hbs
MainProject/MainProject/CodeTemplates/CSharpEntityType/Class.hbs
MainProject/MainProject/CodeTemplates/CSharpEntityType/Partials/Constructor.hbs
MainProject/MainProject/CodeTemplates/CSharpEntityType/Partials/Imports.hbs
MainProject/MainProject/CodeTemplates/CSharpEntityType/Partials/Properties.hbs
MainProject/MainProject/obj/Debug/netcoreapp2.2/MainProject.AssemblyInfo.cs
MainProject/MainProject/obj/Debug/netcoreapp2.2/MainProject.AssemblyInfoInputs.cache
MainProject/MainProject/obj/Debug/netcoreapp2.2/MainProject.assets.cache
MainProject/MainProject/obj/Debug/netcoreapp2.2/MainProject.csproj.CoreCompileInputs.cache
MainProject/MainProject/obj/Debug/netcoreapp2.2/MainProject.csproj.FileListAbsolute.txt
MainProject/MainProject/obj/Debug/netcoreapp2.2/MainProject.csprojAssemblyReference.cache
MainProject/MainProject/obj/Debug/netcoreapp2.2/MainProject.dll
MainProject/MainProject/obj/Debug/netcoreapp2.2/MainProject.pdb
MainProject/MainProject/obj/MainProject.csproj.EntityFrameworkCore.targets
MainProject/MainProject/obj/MainProject.csproj.nuget.cache
MainProject/MainProject/obj/MainProject.csproj.nuget.dgspec.json
MainProject/MainProject/obj/MainProject.csproj.nuget.g.props
MainProject/MainProject/obj/MainProject.csproj.nuget.g.targets
MainProject/MainProject/obj/project.assets.json
